@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br>
<pre>You can add a movie you just watched and add a review to it.
Like this you can keep track of what movies you have seen already.</pre>
</br>
