@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movies Tracker</h1>
    <p class="lead">Movies tracker is a web application that helps you remember what movies you've watched</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What to add?</h2>
        <p>
            You can start by checking out what movies you have seen and want to track.
        </p>
        <p><a class="btn btn-default" href="https://www.imdb.com/">Check out movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Watch some movies</h2>
        <p>Also you can start watching some new movies then add them in your list.</p>
        <p><a class="btn btn-default" href="https://www.streamdor.com/#!/?topic=movie&Language=English">Watch a movie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recommandations</h2>
        <p>If you are not sure what to watch you can check out a few recommended movies.</p>
        <p><a class="btn btn-default" href="https://www.imdb.com/list/ls052347299/">Inspire me &raquo;</a></p>
    </div>
</div>